@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* menu */
.menu {
    list-style-type: none;
    background-color: rgb(9, 9, 68) !important;
    padding-inline: 50px;
    display: flex;
}

.item-menu {
    display: inline-block;
    margin-inline: 50px;
}

.nav-item a {
    color: red;
    text-decoration: none;
}


/* imagen inicio */

.imagen-fondo {
    width: 100%
}

/* texto inicio */
.titulo-inicio {
    background-color: rgba(9, 9, 68, 0.699);
    position: absolute;
    top: 120px;
    left: 20px;
    color: white;
    border-radius: 10px;
    padding: 1%;

}

.texto-inicio {
    background-color: rgba(9, 9, 68, 0.650);
    position: absolute;
    top: 210px;
    left: 20px;
    right: 65%;
    color: white;
    border-radius: 10px;
    padding: 1%;
}

.pie {
    background-color: rgb(9, 9, 68);
    text-align: center;
    margin: 0;
    padding: 0;
}
/* nuestra historia */
.titulo-historia {
    margin: 5%;
}
.nuestra-historia {
    background-color: rgb(29, 29, 88);
    color: white;
    margin: 15%;
}
/* titulos page */

.carousel-slide {
    justify-content: center;
}

/* eventos */

.container {
    height: 100vh;
    background-color: rgb(29, 29, 88);
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.evento-img {
    display: flex;
    width: 100%;
    padding: 20px;
}